*{
    box-sizing: border-box;
    padding-top: 5px;
}

body{
    background-color: rgb(0, 0, 0);
}

#up-downs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#timer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}